
<head>
    @{
        ViewData["Title"] = "";
    }
    @section metatags {
        <meta name='keywords' content='@ViewBag.MetaKeywords' />
        <meta name='description' content='@ViewBag.MetaDescription' />
    }
</head>

<style>
    /* CSS for centering and responsiveness */
    .centered-content {
        max-width: 800px; /* Adjust this value to your desired max width */
        margin: 0 auto;
        padding: 0 15px; /* Adds padding on smaller screens */
    }

    .centered-image {
        text-align: center;
        margin-top: 40px;
    }

        .centered-image img {
            max-width: 100%;
            height: auto;
            display: block; /* Removes any extra space below the image */
            margin: 0 auto; /* Centers the image */
        }

    .text-section {
        margin-top: 25px;
        text-align:left;
        font-size:22px;
    }
</style>

<div class="text-center">
    <div style="margin-top:5%">
        <h4 class="display-4"><strong>Tribute to an Alaskan Father</strong></h4>
    </div>
</div>

    <div class="centered-content">
        <div class="centered-image">
            <img src="lib\\images\\DadNextToHodrodForSite1.png" alt="Dad">
        <p font-size: 14px; color: ##FFC000;><strong>Dad at a car show in Coeur d'Alene, Idaho - June 2017</strong></p>
        </div>
    </div>
  
<div class="text-section" style="margin-top:35px">
    <p>
        One of my Dad's favorite things to tell me as a kid was "Up and at 'em Atom Ant, you got lotsa work to do!" :)
    <p>
        Actually, that was just something he said to keep me on my toes.. His real favorite thing to tell me was that he was the best driver I'd ever meet and he wasn't wrong; I've still never met anybody more versatile.
    </p>
    <p>
        He said he could drive anything from a hot rod to an 18-wheeler. He had skilled training as a professional driver and a lot of experience both on and off the road.
    </p>
    <p>
        He could drive any cargo truck in the fleet at my grandfather's auto parts chain APEC, showed me how to speed shift and double clutch a manual transmission and on long, straight, quiet stretches of road near the Sterling Flats showed me some of the greatest thrills I've had in a street legal automobile, high speed and power-brake burn outs off the line.
    </p>
    <p>
        When I was about 12 years old my Dad and his buddies built a 4x4 Jeep in our family garage. They even added glass-pack mufflers, also known as cherry bombs, that made the engine sound much beefier. It was one the coolest things I'd ever heard at the time.
    </p>
    <p>
        My job was holding the flashlight wherever the guys needed it, fetching countless tools from the toolbox and occasionally turning wrenches. I had a bird's eye view of the whole project, I was fascinated and I used that knowledge to work on cars for years.
    </p>
    <p>
        They took 2 wrecked CJ5 Jeeps and a 327 Chevy engine and built one great offroad vehicle that we took out with friends from Anchorage and Palmer along the Knik River, well into my teenage years.
    </p>
    <p>
        Back to that best driver thing, he drove through some crazy offroad trails: through puddles up to the running boards, some longer than swimming pools; mud, almost as high as the tires; uneven paths, some with banks steep enough I swore any second we would roll that thing completely over. I almost got out and walked more than a few times..
    </p>
    <p>
        Going off the trails, across the forest floor, over bushes and small trees, across rivers, spinning doughnuts on sandbars; my mind was blown as a young boy. They were amazing experiences.
    </p>
    <p>
        My Dad also taught me some of the most important things a father can teach his son. How to work hard and honestly, even when you see other people making gains by taking shortcuts, to educate myself and work through adversity. And what a loyal husband looks like.
    </p>
    <p>
        I didn't see him as much after I moved to Washington, life became like the Cat's in the Cradle song, but he made the trip to see my family and attend my graduation and made another trip to see my daughter graduate from college several years later. It really meant a lot and my daughter and I are very thankful we shared the time together.
    </p>
    <p>
        During the last 8 years, my father and I enjoyed our deepest connection and I really saw just how much I meant to him. We shared time watching sports, movies and shows and even some backcountry flying videos he spent the time watching with me because he knew how much I enjoyed them. That really meant a lot. I miss you Dad and I'll always love you.
    </p>
</div>
